@media (max-width: 912px) {
    .home-description {   
        display: grid;
        grid-template-rows: 5fr 1fr;
    }

    .home-description-col-one p {
        font-size: small;
        padding: 10px 20px;
        margin: 0 auto;
    }
  }

  @media (min-width: 913px) {
    .home-description {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-auto-rows: minmax(70px, auto);
    }
    .home-description-col-one p {
        font-size:1.5rem;
        padding: 20px;
    }
  }

.home-description {
    border: 2% solid;
    background: #eee;
    position: relative;
    top: 60px;
    grid-gap: 1em;

}

.home-description div:nth-child(odd) {
    background: #ddd;
}

.home-description-col-one {
    border: 2px solid;
}

.home-description-col-two {
    border: 2px solid;
}



