// .swiper {
//     position: relative;
//     left: 0px;
//     top: 0px;
//   width: 100%;
//   height: 100%;
// }

/* fade in effect */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* fade out effect */

@keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.mySwiper {
  background-color: white;
  position: relative;
  top: 0px;
  left: 0px;
  // width: 40%;
  // height: 25%;
  grid-column: 17 / 36;
  grid-row: 5 / 17;
}

.swiper-slide {

    text-align: center;
    font-size: 18px;
    // background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mySwiper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* attempt at paralax */
.swiper_div {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    // height: 100%;
    height: 93vh;
    max-width: 100%;
    overflow: hidden;
    top: 7%;
    // bottom: 0px;
  }
.swiper {
    width: 100%;
    height: 100%;
    background: #000;
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 1.5rem;
    max-width: 400px;
    line-height: 1.3;
    color: white;
    // background-color: rgba(196, 196, 196, 0.804);
    opacity: 0.8;
    
  }
  .swiper-slide {
    // transform: rotate(45deg);
    border: 20px;
    border-radius: 50%;
  }
 /* end paralax */
 .pagination-background {
  position: relative;
  height: 44px;
  background-color: #1d1d1f;
 }

@media (max-width: 912px) {
    .home-description {   
        display: grid;
        grid-template-rows: 5fr 1fr;
        // grid-auto-rows: minmax(70px, auto);
    }

    .home-description-col-one p {
        font-size: small;
        padding: 10px 20px;
        margin: 0 auto;
    }
    .home-description-col-three {
        grid-row: 3/4;
    }
  }

  @media (min-width: 913px) {
    .home-description {
        // display: grid;
        // grid-template-columns: 3fr 1fr;
        // grid-auto-rows: minmax(70px, auto);
    }

  }

.transition {
  height: 500px;
  width: 100%;
  position: relative;
  // bottom: -60px;
  top: 0px;
  // border: 2px solid red;
  // transition: all 0.3s;
  border-radius: 10px;
  box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
  // background: linear-gradient(to bottom, #1d1d1f, #8770b8 50%, #8770b8 100%);
}

.inside_box {
  
  height: 50px;
  width: 50px;

  background-color: aqua;
  border-radius: 10px;
  box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);

  position: relative;
  left: 100px;
  top: 40px;
}

.pixel_game {
  position: relative;
  // bottom: -60px;
  //for now
  // bottom: 0;
}

.pixel_game img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rand_text {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 1000px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
}

.home-description {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 4rem;
    background: url("../../assets/home_desc_bck.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 6fr 4fr;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

    // box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
    // background: linear-gradient(to bottom, #1d1d1f, #8770b8 50%, #8770b8 100%);
}

.left-home-description {
  // width: 50%;
  height: 100%;
}

.right-home-description {
  // width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
}

.home-description p {
  color: white;
}

.main-text {
  // font-style: bold;
  font-size: 1.5rem;
}

.star-text {
  // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  font-style: italic;
}
// .home-description div:hover {
//   background-color: aqua;
//   border-radius: 10px;
//   box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
//   opacity: 100%;
//   transition: opacity 1s;
// }

// .home-description div:nth-child(odd) {
//     background: #ddd;
// }

.hello-world, .home-description-main {
  border-radius: 41px;
  background: rgba(0, 0, 0, 0.5);
  
}

.hello-world {
  display: inline-block;
  padding: 0% 1%;
  align-self: start;
  // width: 15%;
  // height: 10%;
}

.hello-world p {
  font-size: 3.5rem;
  text-align: center;
}

.home-description-main {
    position: relative;
    top: 5%;
    left: 3%;
    width: 100%;
    align-self: center;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}

.main-profile {
  border-radius: 41px;
  grid-column: 16 / 35;
  grid-row: 4 / 16;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.profile-shadow {
  border-radius: 41px;
  grid-column: 17 / 36;
  grid-row: 5 / 17;
  z-index: 0;
  background-color: #000;
}

/* about me section */

.about-me {
  position: relative;
  width: 100%;
  height: 95vh;
  background-color: #252528;
  padding: 3rem 3rem 6rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  }

.about-me-title {
  position: absolute;
  left: 4.5rem;  
}

.about-me-title p {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: .05rem;
  margin: 0px;
}

.left-about-me { 
  height: 100%;
  position: relative;
  width: 50%;
}

.about-me-slideshow { 
  display: grid;
  // grid-template-columns: 5% 90% 5%;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 1rem;
  height: 40%;
  width: 150%;
  position: absolute;
  top: 10%;
  left: 10%;
  // background-image: url("../../assets/desc1.jpg");
  background-size: fill;
  border-radius: 43px;
  z-index: 1;
}

.slideshow-one {
  background-image: url("../../assets/desc1.jpg");
  background-size: cover;
}

.slideshow-two {
  background-image: url("../../assets/desc2.jpg");
  background-size: cover;
}

.slideshow-three {
  background-image: url("../../assets/desc3.jpg");
  background-size: cover;
}

.slideshow-four {
  background-image: url("../../assets/desc4.jpg");
  background-size: cover;
}

.slideshow-five {
  background-image: url("../../assets/desc5.jpeg");
  background-size: cover;
}

.slideshow-six {
  background-image: url("../../assets/desc6.jpg");
  background-size: cover;
}

.slideshow-seven {
  background-image: url("../../assets/desc7.jpeg");
  background-size: cover;
}

.about-me-slideshow-shadow {
  position: absolute;
  background-color: #324DDB;
  border-radius: 43px;
  height: 40%;
  width: 150%;
  top: 12%;
  left: 15%;
}

.about-me-slideshow svg {
  width: 80px;
  height: 80px;
  align-self: center;
}

#leftarrw:hover, #rightarrw:hover {
  cursor: pointer;
  fill: #324DDB;
}

.about-me-slideshow div {
  width: 100%; 
  height: 100%;
}

.about-me-slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me-slideshow p {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  align-self: center;
}


.right-about-me {
  height: 100%;
  position: relative;
}

.right-about-me p {
  padding: 20px 10px 0px 10px;
  margin: 0px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  color: white;
}

.about-me-desc1, .about-me-desc2{
  background-color: #252528;
  width: 80%;
  height: 45%;
  position: absolute;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 15fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.about-me-desc1 {
  top: 5%;
  right: 5%;
}

.about-me-desc1 div, .about-me-desc2 div {
  background-color: #324DDB;
}

.top-left {
  border-top-left-radius: 43px;
}

.top-right {
  border-top-right-radius: 43px;
}

.bottom-left {
  border-bottom-left-radius: 43px;
}

.bottom-right {
  border-bottom-right-radius: 43px
}

.about-me-desc2 {
  // top: 90%;
  bottom: -5%;
  left: -10%;
}

.about-me-cross {
  position: absolute;
  top: 5%;
  left: 48%;
  width: 100px;
  height: 100px;

}

/* college timeline section */

.college-timeline {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #555555;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(48, 1fr);
  padding: 3rem;
  overflow: hidden;
}

.timeline-title {
  grid-column: 1/-1;
}

.timeline-title p {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: .05rem;
  margin: 0px;
}

.timeline-root {
  background-color: #324DDB;
  grid-column: 1/-1;
  grid-row: 21/22;
}

.timeline-stem {
  position: relative;
}

.timeline-stem-body {
  background-color: #324DDB;
  width: 10%;
  height: 100%;
}

.timeline-stem-bulb {
  background-color: #324DDB;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  left: -5%;
  position: absolute;
}

.timeline-stem-message {
  background-color: #55B9FB;
  border-radius: 15%;
  padding: 0.5rem;
  position: absolute;
  left: 40%;
  opacity: 70%;
  width: 120%;
  height: 100%;
}

.timeline-stem-message p {
  margin: 0px;
}

.timeline-stem-message:hover {
  cursor: pointer;
}

.timeline-detailed-init {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 32/-1;
  opacity: 0;
}

.timeline-detailed-fadein {
  background-color: #636363;
  border-radius: 42px;
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 32/-1;
  padding: 0px 0px 0px 2.5%;
  transition: opacity 2s linear;
}

.timeline-detailed-fadein p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  color: white;
  transition: opacity 2s linear;
  margin: 20px 0px 0px 0px;
}

.timeline-detailed-fadeout {
  background-color: #636363;
  border-radius: 42px;
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 32/-1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.timeline-detailed-content {
  display: grid;
  grid-template-columns: 55% 40%;
  grid-template-rows: 100%;
  grid-column-gap: 5%;
  width: 100%;
  height: 100%;
  transition: opacity 2s linear;
}

.timeline-detailed-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.timeline_img_holder {
  height: 100%;
  width: 100%;
  background-color: #324DDB;
  border-radius: 15px;
  padding: 20px;
}

/* projects section */ 

.projects {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 90%;
  row-gap: 5%;
  width: 100%;
  height: 100vh;
  background-color: #1D1D1F;
  padding: 3rem;
  overflow: hidden;
}

.projects h1 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: .05rem;
}

.project-slideshow {
  height: 100%;
  width: 100%;
  background-color: #70517A;
  border-radius: 42px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 90%;
  row-gap: 5%;
  padding: 2.5%;
  position: relative;
}

.project-slideshow h2 {
  color: white;
}

.project-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 95% 5%;
  opacity: 60%;
  position: relative;
}

.project-content svg {
  width: 80px;
  height: 80px;
  align-self: center;
}

.project-content-info {
  padding: 2.5%;
  position: relative;
}

.project-moreinfo {
  justify-self: right;
  margin: 0% 2.5% 0% 0%;
}

.project-moreinfo a {
  cursor: pointer;
}

.project-one {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}

.project-one img {
  border-radius: 15px;
  grid-column: span 2; 
  width: 100%; 
  height: 100%; 
  justify-self: center;
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
}

/* photo gallery section */

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 90%;
  row-gap: 5%;
  width: 100%;
  height: 95vh;
  background-color: #555555;
  padding: 3rem;
  overflow: hidden;
}

.gallery h1 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: .05rem;
}

.gallery-content {
  background-color: white;
  border-radius: 42px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 25%;
  gap: 10px;
  padding: 2.5%;
  opacity: 60%;
  overflow-y: auto;
}

/* changing the view of the scrollbar in the gallery-content */
.gallery-content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.gallery-content::-webkit-scrollbar-track {
background: #f1f1f1;
/* border radius is 42px so decrease height to have scroll bar fit inside */
border-radius: 20px;
margin-top: 42px;
margin-bottom: 42px;
}

/* Handle */
.gallery-content::-webkit-scrollbar-thumb {
background: #888;
border-radius: 20px;
}

/* Handle on hover */
.gallery-content::-webkit-scrollbar-thumb:hover {
background: #555;
}

.gallery-content p:nth-child(10n + 1) {
  grid-column: 1 / span 2;
  color: blue;
}

.gallery-content p:nth-child(10n + 2) {
  grid-column: 3 / span 1;
  color: red;
}

.gallery-content p:nth-child(10n + 3) {
  grid-column: 4 / span 2;
  grid-row: span 3;
  color: green;
}

.gallery-content p:nth-child(10n + 4) {
  grid-row: span 2;
  color: purple;
}

.gallery-content p:nth-child(10n + 5) {
  grid-row: span 2;
  color: violet;
}

.gallery-content p:nth-child(10n + 6) {
  grid-row: span 2;
  color: pink;
}

.gallery-content p:nth-child(10n + 8) {
  grid-column: 2 / span 2;
  color: orange;
}

.gallery-photo-info {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: black;
  opacity: 60%;
  padding: 2.5%;
  z-index: 2;
}