@import 'swiper/swiper.min.css';
@import 'swiper/swiper-bundle.css';
.swiper {
    position: relative;
    left: 0px;
    top: 0px;
//   width: 100%;
//   height: 100%;
}

.swiper-slide {

    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 912px) {
    .home-description {   
        display: grid;
        grid-template-rows: 5fr 1fr;
    }

    .home-description-col-one p {
        font-size: small;
        padding: 10px 20px;
        margin: 0 auto;
    }
  }

  @media (min-width: 913px) {
    .home-description {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-auto-rows: minmax(70px, auto);
    }
    .home-description-col-one p {
        font-size:1.5rem;
        padding: 20px;
    }
  }

.home-description {
    border: 2% solid;
    background: #eee;
    position: relative;
    top: 60px;
    grid-gap: 1em;

}

.home-description div:nth-child(odd) {
    background: #ddd;
}

.home-description-col-one {
    border: 2px solid;
}

.home-description-col-two {
    border: 2px solid;
}

.home-description-col-three {
    grid-column: 1/4;
}
