<!-- <div class="swiper_div">
  <div 
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="swiper mySwiper"
> -->
<!-- prev style was: style="background-image: url(https://swiperjs.com/demos/images/nature-1.jpg);" -->
  <!-- <div
    class="parallax-bg"
    style="
      background-image: url(../../assets/me_and_mika_chicago.jpg);
      filter: brightness(60%);
    "
    data-swiper-parallax="-23%"
  ></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Slide 1</div>
      <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
      <div class="text" data-swiper-parallax="-100">
        <p style="font-size: 4rem;">
          Hello, my name is Jorge Chavez !!
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Slide 2</div>
      <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
      <div class="text" data-swiper-parallax="-100">
        <p style="font-size: 2rem;">
          I'm currently a Computer Engineer at the University of Illinois and this website
          is just an outlet for me to share some of the things I've done and experienced
          during these past few years.
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Slide 3</div>
      <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
      <div class="text" data-swiper-parallax="-100">
        <p style="font-size: 1.8rem;">
          This photo was taken in Chicago during my spring break of 2022. To my right is my girlfriend Mika!
          The river is green because of St. Patrick's Day, but if anyone is good at photoshop then feel to 
          make the river whatever you want :-)
        </p>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
  <div class="pagination-background"></div>
</div>
</div> -->

<div class="home-description">
  <div class="left-home-description">
    <div class="hello-world" [ngsReveal]="{ reset: true, delay: 50, origin: 'left', distance: '500px'}">
      <p>Hello World!</p>
    </div>
    <div class="home-description-main" [ngsReveal]="{ reset: true, delay: 200, origin: 'left', distance: '500px'}">
      <p class="main-text">I am currently studying computer engineering at the University of Illinois. My focus is on FPGA board design and I hope to one day work on processors in the future, but as of now I am exploring different technologies as I progress through my educational career.  I have full stack development skills which I’ve gained from Motorola Solutions, and have developed this website in Angular to enhance those skills further.  I have also focused a lot of my time on digitial signal processing and have helped create a  “Learning Node” for a radio device for Motorola Solutions. A description of my projects and educational experiences can be found below. 
      </p>
      <p class="main-text">My motivation for putting this website together is to refine my front end development skills as 
        well as bring forth to everyone an in depth portfolio describing who I am and what I have
        accomplished in college. It also serves as a creative outlet to share my experiences and
        introduce projects that others will hopefully find interesting and even helpful on their
        programming endeavors.
      </p>
      <p class="star-text">*This background image is actually a view I had from my sophomore year in the ISR dorms on
        campus. It was relaxing working at my desk and watching the sunset every night :-)
      </p> 
    </div>
  </div>
  <div class="right-home-description" [ngsReveal]="{ reset: true, delay: 20, origin: 'right', distance: '500px'}">
    <img class="main-profile" src="../../assets/desc7.jpeg">
    <div class="profile-shadow"></div>
  </div>
  <!-- <div class="home-description-col-two home-description-items" [ngsReveal]="{ reset: true, delay: 300, origin: 'left', distance: '60px'}">Placing Image Here</div> -->
  <!-- <div class="home-description-col-three">

    <swiper [navigation]="true" class="mySwiper" style="position:relative; top:0px; left:0px;">
      <ng-template swiperSlide><img src="../../assets/desc1.jpg" alt="home pic one"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc2.jpg" alt="home pic two"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc3.jpg" alt="home pic three"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc4.jpg" alt="home pic four"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc5.jpeg" alt="home pic five"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc6.jpg" alt="home pic six"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc7.jpeg" alt="home pic seven"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc8.jpg" alt="home pic eight"></ng-template
      ><ng-template swiperSlide><img src="../../assets/desc8.jpg" alt="home pic nine"></ng-template>
    </swiper>
  </div> -->


</div>

<div class="about-me">

  <div class="left-about-me">
    <p class=about-me-title>About Me</p>

    <div class="about-me-slideshow">
        <p>&#60;</p>
        <div class="about-me-img">
        <!-- <img src="../../assets/desc1.jpg" alt="home pic one"> -->
        </div>
        <p>&#62;</p>
    </div>

    <!-- <swiper [navigation]="true" class="mySwiper">
      <ng-template swiperSlide  class="swiper-slide"><img src="../../assets/desc1.jpg" alt="home pic one"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc2.jpg" alt="home pic two"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc3.jpg" alt="home pic three"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc4.jpg" alt="home pic four"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc5.jpeg" alt="home pic five"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc6.jpg" alt="home pic six"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc7.jpeg" alt="home pic seven"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc8.jpg" alt="home pic eight"></ng-template
      ><ng-template swiperSlide class="swiper-slide"><img src="../../assets/desc8.jpg" alt="home pic nine"></ng-template>
    </swiper> -->
  </div>
  <div class="right-about-me">
    <p>Right side</p>
  </div>
  
</div>

<!-- <div class="pixel_game" >
  <img src="../../assets/pixelsunset1.jpg" appImgDim>
  <div class="rand_text">Hello world</div>
</div> -->