<!-- <div class="swiper_div">
  <div 
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="swiper mySwiper"
> -->
<!-- prev style was: style="background-image: url(https://swiperjs.com/demos/images/nature-1.jpg);" -->
  <!-- <div
    class="parallax-bg"
    style="
      background-image: url(../../assets/me_and_mika_chicago.jpg);
      filter: brightness(60%);
    "
    data-swiper-parallax="-23%"
  ></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Slide 1</div>
      <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
      <div class="text" data-swiper-parallax="-100">
        <p style="font-size: 4rem;">
          Hello, my name is Jorge Chavez !!
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Slide 2</div>
      <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
      <div class="text" data-swiper-parallax="-100">
        <p style="font-size: 2rem;">
          I'm currently a Computer Engineer at the University of Illinois and this website
          is just an outlet for me to share some of the things I've done and experienced
          during these past few years.
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Slide 3</div>
      <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
      <div class="text" data-swiper-parallax="-100">
        <p style="font-size: 1.8rem;">
          This photo was taken in Chicago during my spring break of 2022. To my right is my girlfriend Mika!
          The river is green because of St. Patrick's Day, but if anyone is good at photoshop then feel to 
          make the river whatever you want :-)
        </p>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
  <div class="pagination-background"></div>
</div>
</div> -->

<div class="home-description" id="targetHome">
  <div class="left-home-description">
    <div class="hello-world" [ngsReveal]="{ reset: true, delay: 50, origin: 'left', distance: '500px'}">
      <p>Hello World!</p>
    </div>
    <div class="home-description-main" [ngsReveal]="{ reset: true, delay: 200, origin: 'left', distance: '500px'}">
      <p class="main-text">
        I am a recent undergraduate in Computer Engineering at the University of Illinois at Urbana-Champaign, now pursuing a Master of Science. With a strong background in embedded systems, digital signal processing, and control systems, my goal is to further explore how to utilize computer vision and sensors to better aid autonomous agents in making logical reasons. I also have experience in other areas including machine learning, distributed systems, and full-stack development. 
      </p>
      <p class="main-text">
        My motivation for putting this website together was to cultivate my front-end development skills as well as bring forth a personalized portfolio describing who I am and what I have accomplished throughout my academic career. It also serves as a creative outlet to share my experiences and introduce projects that others will hopefully find interesting and even helpful for their own learning endeavors. As I continue with my educational journey, I hope to expand this portfolio and eventually be a part of a generation of engineers that tackles the many difficult challenges that we face today.       </p>
      <p class="star-text">*This background image is actually a view I had from my sophomore year in the ISR dorms on
        campus. It was relaxing working at my desk and watching the sunset every night :-)
      </p> 
    </div>
  </div>
  <div class="right-home-description" [ngsReveal]="{ reset: true, delay: 20, origin: 'right', distance: '500px'}">
    <img class="main-profile" src="../../assets/desc7.jpeg">
    <div class="profile-shadow"></div>
  </div>
</div>

<div class="about-me" id="targetAboutMe">

  <div class="left-about-me" [ngsReveal]="{ reset: true, delay: 50, origin: 'left', distance: '500px'}">
    <div class="about-me-title">
      <p>About Me</p>
    </div>

    <div class="about-me-slideshow"
    [ngClass]="slideshow_class_list[slideshow_num]">
        <svg xmlns="http://www.w3.org/2000/svg"
        (click)="prevSlideshowImg()"
        width="9.72222in" height="9.72222in"
        viewBox="0 0 875 875">
          <path id="leftarrw"
                fill="none" stroke="black" stroke-width="1"
                d="M 580.00,270.00
                  C 580.00,270.00 603.00,289.27 603.00,289.27
                    605.15,291.11 610.69,295.23 610.97,298.04
                    611.27,301.05 606.50,305.75 604.58,308.00
                    604.58,308.00 583.13,333.00 583.13,333.00
                    583.13,333.00 528.27,397.00 528.27,397.00
                    528.27,397.00 498.00,432.00 498.00,432.00
                    504.18,436.64 522.02,458.70 528.27,466.00
                    528.27,466.00 584.00,531.00 584.00,531.00
                    584.00,531.00 604.58,555.00 604.58,555.00
                    606.50,557.25 611.27,561.95 610.97,564.96
                    610.69,567.77 605.15,571.89 603.00,573.73
                    603.00,573.73 580.00,593.00 580.00,593.00
                    580.00,593.00 542.73,550.00 542.73,550.00
                    542.73,550.00 475.00,471.00 475.00,471.00
                    475.00,471.00 450.05,442.00 450.05,442.00
                    447.61,439.25 441.87,433.97 443.15,430.00
                    443.99,427.41 452.17,418.64 454.42,416.00
                    454.42,416.00 482.73,383.00 482.73,383.00
                    482.73,383.00 542.73,313.00 542.73,313.00
                    542.73,313.00 580.00,270.00 580.00,270.00 Z" fill="#fff"/>
        </svg>
        <div class="about-me-img">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg"
        (click)="nextSlideshowImg()"
        width="9.72222in" height="9.72222in"
        viewBox="0 0 875 875">
          <path id="rightarrw"
                fill="none" stroke="black" stroke-width="1"
                d="M 298.00,270.00
                  C 303.96,274.31 308.36,280.45 313.13,286.00
                    313.13,286.00 335.42,312.00 335.42,312.00
                    335.42,312.00 404.87,393.00 404.87,393.00
                    404.87,393.00 428.95,421.00 428.95,421.00
                    431.39,423.75 437.13,429.03 435.85,433.00
                    435.01,435.59 426.83,444.36 424.58,447.00
                    424.58,447.00 397.13,479.00 397.13,479.00
                    397.13,479.00 331.13,556.00 331.13,556.00
                    324.03,564.25 305.24,587.77 298.00,593.00
                    298.00,593.00 276.00,573.73 276.00,573.73
                    273.85,571.89 268.31,567.77 268.03,564.96
                    267.73,561.95 272.50,557.25 274.42,555.00
                    274.42,555.00 295.87,530.00 295.87,530.00
                    295.87,530.00 350.73,466.00 350.73,466.00
                    350.73,466.00 381.00,431.00 381.00,431.00
                    374.82,426.36 356.98,404.30 350.73,397.00
                    350.73,397.00 295.00,332.00 295.00,332.00
                    295.00,332.00 274.42,308.00 274.42,308.00
                    272.50,305.75 267.73,301.05 268.03,298.04
                    268.31,295.23 273.85,291.11 276.00,289.27
                    276.00,289.27 298.00,270.00 298.00,270.00 Z" fill="#fff"/>
        </svg>
    </div>
    <div class="about-me-slideshow-shadow">

    </div>
  </div>
  <div class="right-about-me" [ngsReveal]="{ reset: true, delay: 20, origin: 'right', distance: '500px'}">
    <div class="about-me-desc1">
      <div class="top-left"></div><div class="side"></div><div class="top-right"></div><div class="side"></div>
      <div class="center">
        <p>
          Taking AP Computer Science Principles in high school is what peaked my interest in programming and led me to pursue computer engineering. I was more enticed by the software aspect at the time and seeing how much of a creative outlet it gave people. I remember my first dream was creating a gaming app for the app store and having it trend. 
        </p>
        <p>
          My only issue at the time was that I had never coded in my life and felt I wasn’t capable and didn’t have the knowledge to do so. 
        </p>
      </div>
      <div class="side"></div><div class="bottom-left"></div><div class="side"></div><div class="bottom-right"></div>
    </div>
    <div class="about-me-desc2">
      <div class="top-left"></div><div class="side"></div><div class="top-right"></div><div class="side"></div>
      <div class="center">
        <p>
          Despite that, I applied and got accepted to U of I for computer engineering.
        </p>
        <p>
          The courses I’ve taken have only empowered me and helped me grow in confidence with my ability to code and work with hardware. 
        </p>
        <p>
          I’ve grown a deep appreciation for computers and the impact they can have around us. All I hope for is a career where I can continue to learn and grow, and make a meaningful impact on whatever projects I tackle.
        </p>
      </div>
      <div class="side"></div><div class="bottom-left"></div><div class="side"></div><div class="bottom-right"></div>
    </div>
  </div>

  <svg class="about-me-cross" xmlns="http://www.w3.org/2000/svg"
     width="9.72222in" height="9.72222in"
     viewBox="0 0 875 875">
      <path id="about-me-cross-one"
            fill="none" stroke="black" stroke-width="1"
            d="M 437.00,424.00
              C 437.00,424.00 402.00,460.00 402.00,460.00
                402.00,460.00 334.00,528.00 334.00,528.00
                334.00,528.00 239.00,623.00 239.00,623.00
                239.00,623.00 190.00,671.53 190.00,671.53
                163.37,693.14 121.76,683.08 108.82,651.00
                106.47,645.16 105.08,640.33 105.00,634.00
                104.89,624.47 104.94,618.00 108.87,609.00
                113.40,598.63 120.21,592.79 128.00,585.00
                128.00,585.00 155.00,558.00 155.00,558.00
                155.00,558.00 299.00,414.00 299.00,414.00
                299.00,414.00 346.00,367.00 346.00,367.00
                346.00,367.00 356.99,356.00 356.99,356.00
                358.41,354.52 360.96,352.20 360.96,350.00
                360.96,347.80 358.41,345.48 356.99,344.00
                356.99,344.00 346.00,333.00 346.00,333.00
                346.00,333.00 299.00,286.00 299.00,286.00
                299.00,286.00 155.00,142.00 155.00,142.00
                155.00,142.00 128.00,115.00 128.00,115.00
                120.21,107.21 113.40,101.37 108.87,91.00
                104.94,82.00 104.89,75.53 105.00,66.00
                105.50,24.08 158.56,2.39 190.00,28.33
                190.00,28.33 219.00,57.00 219.00,57.00
                219.00,57.00 273.00,111.00 273.00,111.00
                273.00,111.00 438.00,276.00 438.00,276.00
                438.00,276.00 473.00,240.00 473.00,240.00
                473.00,240.00 539.00,174.00 539.00,174.00
                539.00,174.00 636.00,77.00 636.00,77.00
                636.00,77.00 685.00,28.33 685.00,28.33
                716.46,2.38 769.50,24.08 770.00,66.00
                770.11,75.49 769.79,83.14 765.68,92.00
                761.12,101.81 754.47,107.53 747.00,115.00
                747.00,115.00 720.00,142.00 720.00,142.00
                720.00,142.00 576.00,286.00 576.00,286.00
                576.00,286.00 529.00,333.00 529.00,333.00
                529.00,333.00 518.01,344.00 518.01,344.00
                516.59,345.48 514.04,347.80 514.04,350.00
                514.04,352.20 516.59,354.52 518.01,356.00
                518.01,356.00 529.00,367.00 529.00,367.00
                529.00,367.00 573.00,411.00 573.00,411.00
                573.00,411.00 723.00,561.00 723.00,561.00
                723.00,561.00 743.00,581.00 743.00,581.00
                756.28,594.28 767.24,604.23 769.07,624.00
                769.35,626.93 769.90,629.01 769.68,632.00
                768.39,649.10 761.81,662.83 748.00,673.47
                730.34,687.08 702.02,685.71 685.00,671.67
                685.00,671.67 656.00,643.00 656.00,643.00
                656.00,643.00 602.00,589.00 602.00,589.00
                602.00,589.00 437.00,424.00 437.00,424.00 Z" fill="#555555"/>
    </svg>
  
</div>

<div class="college-timeline internship-timeline" id="targetTimeline">
  <div class="bg bg-internship"></div>
  <div class="bg bg-internship bg2"></div>
  <div class="bg bg-internship bg3"></div>

  <div class="timeline-title internship-title">
    <p>My Internship Timeline</p>
  </div>

  <img src="../../assets/motologo.png">
  <div class="timeline_entry florida_timeline">
    <h2>Motorola Solutions -- Software Engineer</h2>
    <h3>Summer 2023</h3>
    <p>
      Created a platform-agnostic desktop application in Electron to display the tasks of a dump file retrieved from Motorola APX Next radios. 
    </p>
    <p>
      Deployment of the application allowed it to replace its outdated succesor written in Perl which saved the licensing expenses for its Enterprise edition.
    </p>
    <span (click)="readMore(floridamore)" class="readmore" id="floridamoreTag" #floridamoreTag>Read more</span>
    <p id="floridamore" #floridamore>
      Here I was able to explore a Electron and learn to use it for the first time. With my prior knowledge in Angular, it was a very small learning curve that allowed me to 
      quickly begin to piece together the application. By the end, the application was identical to its predecessor and very responsive.
    </p>
    <span (click)="readMore(floridamore)" class="readless" id="floridalessTag" #floridalessTag>Read Less</span>
  </div>

  <div class="timeline_entry embedded_timeline">
    <h2>Motorola Solutions -- Embedded Systems Engineer</h2>
    <h3>Summer 2022</h3>
    <p>
      I innovated a software module which interacted with RF components in a radio to collect and perform data analytics 
      with digital signal processing. 
    </p>
    <p>
      Designed a graphical user interface with Python, Matplot, and Tkinter to seamlessly present 
      vistual data to customers.
    </p>
    <span (click)="readMore(embeddedmore)" class="readmore" id="embeddedmoreTag" #embeddedmoreTag>Read More</span>
    <p id="embeddedmore" #embeddedmore>
      This internship allowed me to be creative and bring in a lot of prior knowledge from my other courses such as 
      statistics and data structures. Due to the hardware constraints of the project, I ultimately had to find a way 
      to capture hours of RF activity without eating memory and with subpar processing power. More details on this 
      project can be found in below in the projects section.
    </p>
    <span (click)="readMore(embeddedmore)" class="readless" id="embeddedlessTag" #embeddedlessTag>Read Less</span>
  </div>

  <div class="timeline_entry fullstack_timeline">
    <h2>Motorola Solutions -- Full Stack Developer</h2>
    <h3>Spring 2022</h3>
    <p>
      Independently developed the candidate and main application pages on Recruiting Reimagined using Angular.
    </p>
    <p>
      Collaborated in a team of four to bring the registration phase of the application to the production stage. 
    </p>
    <span (click)="readMore(fullstackmore)" class="readmore" id="fullstackmoreTag" #fullstackmoreTag>Read More</span>
    <p id="fullstackmore" #fullstackmore>
      This project ultimately gave me the experience to create single page, dynamic web applications. Angular 
      is also the tool I opted for using in creating this portfolio webpage. Following this internship, I continued to learning Angular 
      and other aspects of a full stack project such as creating an API script from scratch and connecting an application to a backend 
      database. I am currently working on a full stack web application with two other peers and the progress thus far 
      will be posted soon under the projects section. 
    </p>
    <span (click)="readMore(fullstackmore)" class="readless" id="fullstacklessTag" #fullstacklessTag>Read Less</span>
  </div>

  <div class="timeline_entry backend_timeline">
    <h2>Motorola Solutions -- Backend Developer</h2>
    <h3>Summer 2021</h3>
    <p>
      Improved the backend database of the Application Status Portal project using MySQL.
    </p>
    <p>
      Produced a robust script using Python to automate raw data organization in the database. 
    </p>
    <span (click)="readMore(backendmore)" class="readmore" id="backendmoreTag" #backendmoreTag>Read More</span>
    <p id="backendmore" #backendmore>
      This internship gave me exposure to databases which I never had up until this point. Besides from working with 
      new technologies, I also began to become familiar with how to work in an agile work environment with fellow 
      employees, as well as using corporation tools such as Jira and Confluence. One interesting aspect about this internship is that the full-time software engineers we worked 
      with were based in Krakow, Poland, so I quickly learned how essential communication was considering the time zone differences. 
      It led me to becoming more prepared to come to them with questions I had with the Application Status Portal database, and their encouragement 
      is what led me to learn Python for the first time to interact with the database. I ultimately created a backend script that used the MySQL API to help automate 
      the process of organizing newly collected data on the statuses of Motorola's online services, and organizing them 
      by region. 
    </p>
    <span (click)="readMore(backendmore)" class="readless" id="backendlessTag" #backendlessTag>Read Less</span>
  </div>
  </div>
  <div class="college-timeline courses-timeline">
  <div class="bg bg-courses"></div>
  <div class="bg bg-courses bg2"></div>
  <div class="bg bg-courses bg3"></div>

  <div class="timeline-title" style="margin-bottom: 100px;">
    <p>My Courses Timeline</p>
  </div>

  <div class="timeline_entry se423_entry">
      <h2>Mechatronics (SE 423)</h2>
      <h3>Spring 2023</h3>
      <p>
        The core of this class is to teach the computer interfacing of physical devices, data acquisition, real time programming, and human-machine interfaces. In addition to lecture, 
        the course offered a semester project which focused on a robot equipped with a variety of sensors (MPU, camera, ladar, IMU, OptiTrack motion capture system), and a servo motor based cage 
        with a goal of navigating an obstacle course to retrieve golf balls. The final project for my group was a success and provided a great hands-on experience learning experience. More 
        information about our project can be found online at this <a href="https://www.hackster.io/ben-hoyer/se-423-group-8-final-project-974d93?auth_token=ef59266ffb93cd6669952b7593e2b013">website link</a>. 
      </p>
    
  </div>

  <div class="timeline_entry ece486_entry">
    <h2>Control Systems (ECE 486)</h2>
    <h3>Spring 2023</h3>
    <p>
      This course covers the design, modelling, and analysis of control systems with modern design principes. The laboratory focused on modeling and creating a controller to balance 
      a pendulum by designing a PID controller that sent the appropiate current to a rotor attached to the end of the pendulum. 
    </p>
  </div>

  <div class="timeline_entry ece420_entry">
    <h2>Embedded DSP Labratory (ECE 420)</h2>
    <h3>Spring 2023</h3>
    <p>
      A labroratory class with a focus on developing real-time digital signal processing systems on an Android tablet. Topics ranged from audio-sampling, FIR/IIR filters, 
      digital modulation for communications, and processing of audio, image, and video signals. The final project gave the liberty to students to apply any topic from the 
      class or from a research paper onto the Android tablet. 
      <span (click)="readMore(ece420more)" class="readmore" id="ece420moreTag" #ece420moreTag>Read More</span>
    </p>
    <p id="ece420more" #ece420more>
      Besides solidfying my expertise with digital signal processing, this class allowed me to explore algorithms from a real-time perspective and served as a venue to apply 
      a personal project that I had begun before the start of the semester. I devised a spoken digit recognition model that was trained offline and run on the Android tablet. More 
      information about this project can be found below in the projects section. 
    </p>
    <span (click)="readMore(ece420more)" class="readless" id="ece420lessTag" #ece420lessTag>Read Less</span>
  </div>

  <div class="timeline_entry cs431_entry">
    <h2>Embedded Systems (CS 431)</h2>
    <h3>Spring 2023</h3>
    <p>
      The course focus is into embedded architecture and the key concepts found in common embedded system applications. Divided into a lecture and lab component, the lectures focused on 
      core concepts such as signal processing and control, time critical I/O handling, data communication, real time operating systems, and more. The lab component provided the opportunity to program 
      a biped robot so that it could it balance itself whilst simultaneously follow a set of waypoints. 
      <span (click)="readMore(cs431more)" class="readmore" id="cs431moreTag" #cs431moreTag>Read More</span>
    </p>
    <p id="cs431more" #cs431more>
      This class was a ground basis for learning more into embedded architecture and programming for micro controllers. The microcontroller onboard the biped robot was as ESP32-Wrover. The final project entailed tagging on additional features on top of the aforementioned lab goals. 
      In my case, I created an Android application using MIT App Inventor that could communicate with the robot via Bluetooth to send commands and receive data points in order to create a local trajectory map of the robot. 
    </p>
    <span (click)="readMore(cs431more)" class="readless" id="cs431lessTag" #cs431lessTag>Read Less</span>
  </div>

  <div class="timeline_entry ece484_entry">
    <h2>Principles of Safe Autonomy (ECE 484)</h2>
    <h3>Fall 2022</h3>
    <p>
      This class dives into the process and algorithms of designing autonomous systems where we get to use tools such as ROS, Gazebo, and OpenCV. Some of the main topics 
      covered in the class include path planning, particle filtering, lane detection, and safety verification. <span (click)="readMore(ece484more)" class="readmore" id="ece484moreTag" #ece484moreTag>Read More</span>
    </p>
    <p id="ece484more" #ece484more>
      For the final project, we are given the opportunity to program an autonomous car here on campus and my goal is tackle a project that handles lane detection in 
      rough weather conditions.
    </p>
    <span (click)="readMore(ece484more)" class="readless" id="ece484lessTag" #ece484lessTag>Read Less</span>
  </div>

  <div class="timeline_entry ece408_entry">
    <h2>Applied Parallel Programming (ECE 408)</h2>
    <h3>Fall 2022</h3>
    <p>
      In this course we have learned how to program processors that have massive computing resources. By learning how to parallelize operations such as convolutions 
      and matrix mulitplications while also taking into consideration the hardware capabilities of modern GPU's offered by NVIDIA and AMD, we are able to increase 
      the computational efficiency of many programs. <span (click)="readMore(ece408more)" class="readmore" id="ece408moreTag" #ece408moreTag>Read More</span><span id="ece408more" #ece408more>The projects are done in C and using the CUDA system. This class thus far has been one of my favorites since 
      it helped me gain an understanding of how GPU's are able to massively increase the computational power of many computers, especially areas of programming that need 
      that kind of computational ability such as machine learning programs.</span>
    </p>
    <span (click)="readMore(ece408more)" class="readless" id="ece408lessTag" #ece408lessTag>Read Less</span>
  </div>
  <div class="timeline_entry cs440_timeline">
    <h2>Artificial Intelligence (CS 440)</h2>
    <h3>Fall 2022</h3>
    <p>
      This class is an introduction to many conecpts and techniques in AI, and covers methods used in search, classification, reasoning, and machine learning. 
      Thus far, we have had one project that involved using Naive Bays to classify documents based on the words in the given document. <span (click)="readMore(cs440more)" class="readmore" id="cs440moreTag" #cs440moreTag>Read More</span>
      <span id="cs440more" #cs440more>Given a training set and some labels, I created a bag of words model to determine on a test set whether or not a document was giving 
      a postive or negative review for a movie. In order to increase the accuracy of the model, I included a mixture of unigrams and bigram words as well 
      as a filter to remove stop words such as 'the, of, a, etc.' which led me to finding an accuracy as high as 91% on some test sets. </span>
    </p>
    <span (click)="readMore(cs440more)" class="readless" id="cs440lessTag" #cs440lessTag>Read Less</span>
  </div>
  <div class="timeline_entry ece411_timeline">
    <h2>Computer Architecture (ECE 411)</h2>
    <h3>Fall 2022</h3>
    <p>
      This course covers the fundamentals of computer architecture at the ISA and microarchitecture level, to deepen our understanding of computer systems.
      Alongside instruction, the course has mp's that are done using Verilog and Verdi is used to synthesis and debug our projects. <span (click)="readMore(ece411more)" class="readmore" id="ece411moreTag" #ece411moreTag>Read More</span>
    </p>
    <p id="ece411more" #ece411more>
      As for the projects in this class, so far I have had to verify hardware components such as a multiplier and a FIFO module. I have also had to implement 
      the rv32i instruction set of the RISC-V processor which so far has been my favorite project. The final project in the class is designing and implementing a complete 
      out of order processor. 
    </p>
    <span (click)="readMore(ece411more)" class="readless" id="ece411lessTag" #ece411lessTag>Read Less</span>
  </div>
  <div class="timeline_entry ece391_timeline">
    <h2>Computer Systems Engineering (ECE 391)</h2>
    <h3>Spring 2022</h3>
    <p>
      The prime goal of this class was to get students familiar with the design decisions and the implementation of Linux Kernel. Through this class,
      I learned key concepts when developing a kernel such as how to organize a file system, displaying data through a VGA port in ModeX, configuring virtual memory, and how to implement a scheduler
      so that a kernel can contain multiple tabs running programs simultaneously. <span (click)="readMore(ece391more)" class="readmore" id="ece391moreTag" #ece391moreTag>Read More</span><span id="ece391more" #ece391more>There were three mp's (mini projects) for this class where the first was in x86 
      assembly and the last two were in C. The third mp was by far the biggest, taking up the second half of the semester, and with a group of four, we developed a basic 
      linux kernel with the aforementioned concepts such as a file system, virtual memory, paging, and a scheduler. </span>
    </p>
    <span (click)="readMore(ece391more)" class="readless" id="ece391lessTag" #ece391lessTag>Read Less</span>
  </div>
  <div class="timeline_entry ece385_timeline">
    <h2>Digital Systems Labratory (ECE 385)</h2>
    <h3>Fall 2021</h3>
    <p>
      The core focus of this class was getting us familiar with FPGA boards and simulation synthesis with the assistance of Intel's Quartus. For hardware synthesis, we used System Verilog. 
      In this class, we had a variety of mp's that involved configuring the FPGA to receive keyboard input and display to a monitor using a VGA port. 
      I also became familiar with istantiating memory on an FPGA board and designing finite state machines for components on the FPGA board that needed to be 
      communicated with over multiple clock cycles such as the SDRAM. <span (click)="readMore(ece385more)" class="readmore" id="ece385moreTag" #ece385moreTag>Read More</span><span id="ece385more" #ece385more>My biggest key takeaway from this class was learning how to debug hardware 
      by analyzing waveform signals, and following close instructions to given documentation and timing requirements for components like the 
      aforementioned SDRAM.</span>
    </p>
    <p id="ece385more_2" #ece385more_2>
      This class had a final project where we were allowed to freely demonstrate our skills and knowledge of FPGA synthesis by implmeenting 
      whatever we wanted, and our grade was based on the difficulty of our implementation. With a fellow peer, we created a hybrid of a Flappy Bird and 
      Google's infamous, no-internet dinosaur game. This required us to set up communication between the FPGA and a keyboard and monitor, as well as 
      using SDRAM to hold image frames of the game. The final project was a success, and the last thing we wish we could have set up was 
      the onboard sound card on the FPGA so that there could be sound and music to go along with the game. 
    </p>
    <span (click)="readMore(ece385more)" class="readless" id="ece385lessTag" #ece385lessTag>Read Less</span>
  </div>
    <div class="timeline_entry cs225_timeline">
    <h2>Introduction to Data Structures and Algorithms (CS 225)</h2>
    <h3>Spring 2021</h3>
    <p>
      Here I learned how to analyze the complexity and runtime of various algorithms, and how to solve major paradigms using 
      methods such as recursive programming, divide and conquer algorithms, dynamic programming, greedy algorithms, 
      and graph algorithms. <span (click)="readMore(cs225more)" class="readmore" id="cs225moreTag" #cs225moreTag>Read More</span>
    </p>
    <p id="cs225more" #cs225more>
      For my final project, I worked with three peers to create a program that was able to handle a massively large data set of nearly 8,000 airports and all of their established routes 
      in 2018, and use that information to find the shortest distance to any other airport from the same data set. In order to do this, we utilized Djikstra's algorithm and found the distance 
      between every pair of airports. We also implemented a strongly connected components algorithm in to find which airports in the data had redundant paths among each other. The github link 
      to this project can be found <a href="https://github.com/jorgejc2/CS225-Final" target="_blank" rel="noopener noreferrer">here</a>.
    </p>
    <span (click)="readMore(cs225more)" class="readless" id="cs225lessTag" #cs225lessTag>Read Less</span>
  </div>
</div>
  <div class="college-timeline rso-timeline">
    <div class="bg bg-rso"></div>
    <div class="bg bg-rso bg2"></div>
    <div class="bg bg-rso bg3"></div>
    <div class="timeline-title" style="margin-bottom: 100px;">
      <p>My RSO Timeline</p>
    </div>
    <div class="timeline_entry vex_timeline">
      <h2>VEXU Robotics -- Controls/Vision Programmer</h2>
      <h3>Fall 2022 - Now</h3>
      <p>
        VEXU is a university level robotic competition where the tasks for a university's robots are different each year. For the current school year, 
        the challenge is placing as many disks as possible in the opponents corner before the timer runs out. There is also a skills portion where a robot 
        needs to make as many disks into a hoop as possible.
      </p>
      <span (click)="readMore(vexmore)" class="readmore" id="vexmoreTag" #vexmoreTag>Read More</span>
      <div id="vexmore" #vexmore>
      <p>
        We are creating three robots, two for the main competitions, and one for the skills competition. My responsibility as a programmer is to 
        write the controls for the robot to enable autonomous and man operated movement. For vission, we are using a Raspberry PI and external camera to 
        identify the field and yellow disks so that for the autonomous portion, the robots are able to collect their disks and place them at their destination. 
      </p>
      <p>
        I'm most excited for contributing to the vision of the robots since the Artificial Intelligence and especially my Principles of Safe Autonomy course are 
        extremely relevant for computer vision and autonomous operations. Seeing this overlap between my courses and RSO project brings me a lot of energy since it makes 
        me realize the potential we have of creating a robust robot that can place in the VEXU competition. 
      </p>
      </div>
      <span (click)="readMore(vexmore)" class="readless" id="vexlessTag" #vexlessTag>Read Less</span>
    </div>
    <div class="timeline_entry solar_timeline">
      <h2>Illini Solar Car -- Mechanical Engineer & Co-Treasurer</h2>
      <h3>August 2021 - May 2022</h3>
      <p>
        This RSO resembles a start up in the sense that we are responsible for our own funding from the school as well as sponsors, 
        and there are various divisions in the team from business, to marketing, to mechanical and electrical engineering.
      </p>
      <p>
        Designed and 3D printed crucial components of the car such as the intake plug and battery box mounts using Creo.
      </p>
      <p>
        Organized the monthly expenses using QuickBooks and revised team purchase requests.
      </p>
      <span (click)="readMore(solarmore)" class="readmore" id="solarmoreTag" #solarmoreTag>Read More</span>
      <p id="solarmore" #solarmore>
        That is no typo, I was a mechanical engineer for Illini Solar Car. My prime motivation was that I wanted to gain experience 
        that I knew I would never encounter in my courses, and I saw Illini Solar as the perfect opportunity to do so. Even now, I've gained a lot of 
        opportunities in my college career to expand my technical knowledge and it's such an enjoyable experience diving into something new. 
        Thanks to Solar Car, I learned basic CAD programming with Creo, and what it meant to collaboratively work with fellow engineers to 
        reach an end goal. 
      </p>
      <span (click)="readMore(solarmore)" class="readless" id="solarlessTag" #solarlessTag>Read Less</span>
    </div>
    <div class="timeline_entry shpe_timeline">
      <h2>Society of Hispanic Engineers -- Software Engineer</h2>
      <h3>January 2021 - May 2021</h3>
      <p>
        Led the software sub team to enable movement of a mechanical hand in response to keyboard input to translate American Sign Language. Created code base in C for the Arduino board and motors attached to the hand.
      </p>
      <span (click)="readMore(shpemore)" class="readmore" id="shpemoreTag" #shpemoreTag>Read More</span>
      <p id="shpemore" #shpemore>
        By this point, I had finally become familiar with C/C++ and was happy to be able to use those skills in practice by working with a 
        mechanically printed hand. As the lead of the software team for the semester, I hosted meetings twice a week and helped my fellow 
        peers catch up to speed with C/C++. Together, we sifted through Arduino documentation and it was always an amazing feeling seeing our progress 
        translate into a hand capable of moving and responding to keyboard input. 
      </p>
      <span (click)="readMore(shpemore)" class="readless" id="shpelessTag" #shpelessTag>Read Less</span>
    </div>
  </div>



  <!-- <div class="timeline-root"></div>

  <div class="timeline-stem" id="stem_1" #stem_1 (click)="toggleTimelineInfo(stem_1)">
      <div class="timeline-body"></div>
      <div class="timeline-bulb body-timeline"></div>
      <div></div>
      <div class="timeline-message">
        <p>Computer Engineer</p>
        <div class="timeline-extra">
          <p>Fall 2019</p>
          <p>Started college</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_2" #stem_2 (click)="toggleTimelineInfo(stem_2)">
      <div class="timeline-bulb"></div>
      <div class="timeline-body body-timeline"></div>
      
      <div class="timeline-message">
        <p>SHPE</p>
        <div class="timeline-extra">
          <p>Fall 2019</p>
          <p>Joined as member</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_3" #stem_3 (click)="toggleTimelineInfo(stem_3)">
      <div class="timeline-body body-timeline"></div>
      <div class="timeline-bulb"></div>
      <div></div>
      <div class="timeline-message">
        <p>Illini Solar Car</p>
        <div class="timeline-extra">
        <p>Fall 2020</p>
        <p>Joined as mechanical member</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_4" #stem_4 (click)="toggleTimelineInfo(stem_4)">
      <div class="timeline-bulb body-timeline"></div>
      <div class="timeline-body"></div>
      <div class="timeline-message">
        <p>Physics Learning Assistant</p>
        <div class="timeline-extra">
        <p>Spring 2021</p>
        <p>Became an LA for Physics 100</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_5" #stem_5 (click)="toggleTimelineInfo(stem_5)">
      <div class="timeline-body body-timeline"></div>
      <div class="timeline-bulb"></div>
      <div></div>
      <div class="timeline-message">
        <p>Motorola Solutions Intern</p>
        <div class="timeline-extra">
        <p>Summer 2021</p>
        <p>Software Engineering Internship</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_6" #stem_6 (click)="toggleTimelineInfo(stem_6)">
      <div class="timeline-bulb"></div>
      <div class="timeline-body body-timeline"></div>
      <div class="timeline-message">
        <p>Illini Solar Car</p>
        <div class="timeline-extra">
        <p>Fall 2021</p>
        <p>Treasurer</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_7" #stem_7 (click)="toggleTimelineInfo(stem_7)">
      <div class="timeline-body"></div>
      <div class="timeline-bulb body-timeline"></div>
      <div></div>
      <div class="timeline-message">
        <p>Motorola Solutions Co-op</p>
        <div class="timeline-extra">
        <p>Spring 2022</p>
        <p>Software Engineering Internship</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_8" #stem_8 (click)="toggleTimelineInfo(stem_8)">
      <div class="timeline-bulb"></div>
      <div class="timeline-body body-timeline"></div>
      
      <div class="timeline-message">
        <p>Motorola Solutions Intern</p>
        <div class="timeline-extra">
        <p>Summer 2022</p>
        <p>Embedded Systems Intern</p>
        </div>
      </div>
  </div>

  <div class="timeline-stem" id="stem_9" #stem_9 (click)="toggleTimelineInfo(stem_9)">
      <div class="timeline-body body-timeline"></div>
      <div class="timeline-bulb"></div>
      <div></div>
      <div class="timeline-message">
        <p>Senior</p>
        <div class="timeline-extra">
        <p>Fall 2022</p>
        <p></p>
        </div>
      </div>
  </div>

  <div [ngClass]="{'timeline-detailed-fadein': timeline_visible && timeline_init, 'timeline-detailed-fadeout': !timeline_visible && timeline_init, 'timeline-detailed-init': !timeline_init}">
    <div class="timeline-detailed-content" *ngIf="timeline_visible && timeline_init">
      <div class="timeline-detailed-content-box">
        <p >{{ timeline_box_list[timeline_box_selection] }}</p>
      </div>
      <div class="timeline_img_holder" *ngIf="timeline_box_list_images[timeline_box_selection] != ''">
        <img
        src="{{ timeline_box_list_images[timeline_box_selection] }}"
        >
      </div>
    </div>
  </div> -->


<div class="projects" id="targetProject" #targetProject>
  <h1>My Projects</h1>
  <div class="project-slideshow">
    <h2>{{ project_names[curr_project] }}</h2>
    <div class="project-content">
      <div class="to-left-project-container">
        <svg xmlns="http://www.w3.org/2000/svg" id="to-left-project"
          width="9.72222in" height="9.72222in"
          viewBox="0 0 875 875">
            <path id="leftarrw" (click)="prevProject()"
                  fill="none" stroke="black" stroke-width="1"
                  d="M 580.00,270.00
                    C 580.00,270.00 603.00,289.27 603.00,289.27
                      605.15,291.11 610.69,295.23 610.97,298.04
                      611.27,301.05 606.50,305.75 604.58,308.00
                      604.58,308.00 583.13,333.00 583.13,333.00
                      583.13,333.00 528.27,397.00 528.27,397.00
                      528.27,397.00 498.00,432.00 498.00,432.00
                      504.18,436.64 522.02,458.70 528.27,466.00
                      528.27,466.00 584.00,531.00 584.00,531.00
                      584.00,531.00 604.58,555.00 604.58,555.00
                      606.50,557.25 611.27,561.95 610.97,564.96
                      610.69,567.77 605.15,571.89 603.00,573.73
                      603.00,573.73 580.00,593.00 580.00,593.00
                      580.00,593.00 542.73,550.00 542.73,550.00
                      542.73,550.00 475.00,471.00 475.00,471.00
                      475.00,471.00 450.05,442.00 450.05,442.00
                      447.61,439.25 441.87,433.97 443.15,430.00
                      443.99,427.41 452.17,418.64 454.42,416.00
                      454.42,416.00 482.73,383.00 482.73,383.00
                      482.73,383.00 542.73,313.00 542.73,313.00
                      542.73,313.00 580.00,270.00 580.00,270.00 Z" fill="#000"/>
        </svg>
      </div>
      <div class="project-content-info">

        <div class="project-one" *ngIf="curr_project == 0">
          <div class="project-one-content" style="grid-column: 1 / span 3;">
            <p>
              During the summer of 2022, I had a chance to tackle a project involved with embedded systems as well as digital signal processing. It was 
              a very involved experience and it led me to appreciate digital signal processing a lot more, a field that I previously didn't grasp as well. 
            </p>
            <p>
              By working with an <a href="https://www.analog.com/en/design-center/evaluation-hardware-and-software/evaluation-boards-kits/ADALM-PLUTO.html#eb-overview" target="_blank" rel="noopener noreferrer">Adalm Pluto SDR Learning Module</a> 
              and a software defined radio, I was able to apply digital signal processing to real world signals and thus, gained invaluable experience that 
              gave me a good knowledgeable foundation of the topic. Due to hardware limitations of the software defined radio that I was programming, 
              I had to seek creative measures to preserve memory while still being able to use this radio to listen to radio frequencies for hours on end and 
              characterize its findings.
            </p>
            <p>
              I found the project to be so much fun that I ended up buying my own personal Adalm Pluto SDR and creating scripts for it that used its full 
              capabilities. This <a href="https://github.com/jorgejc2/PlutoSDR" target="_blank" rel="noopener noreferrer">link</a> is to my github page that contains scripts that can be run on a Pluto and has instructions on how to set one up. 
            </p>
            <p>
              Click the bottom right link to learn more about my summer project experience and how I was able to tackle my project head on!
            </p>
          </div>

          <img src="../../assets/pluto_inperson.jpg" alt="In person ADALM-PLUTO">

        </div>

        <div class="project-two" *ngIf="curr_project == 1">
          <div class="project-two-content" style="grid-column: 1 / span 3;">
            <p>
              Test for ece 420 project.
            </p>
          </div>
        </div>

        <div class="coming_soon" *ngIf="curr_project == project_names.length - 1">
          <p>Nothing here yet :(</p>
        </div>
      </div>
      <div class="to-right-project-container">
        <svg xmlns="http://www.w3.org/2000/svg" id="to-right-project"
          width="9.72222in" height="9.72222in"
          viewBox="0 0 875 875">
            <path id="rightarrw" (click)="nextProject()"
                  fill="none" stroke="black" stroke-width="1"
                  d="M 298.00,270.00
                    C 303.96,274.31 308.36,280.45 313.13,286.00
                      313.13,286.00 335.42,312.00 335.42,312.00
                      335.42,312.00 404.87,393.00 404.87,393.00
                      404.87,393.00 428.95,421.00 428.95,421.00
                      431.39,423.75 437.13,429.03 435.85,433.00
                      435.01,435.59 426.83,444.36 424.58,447.00
                      424.58,447.00 397.13,479.00 397.13,479.00
                      397.13,479.00 331.13,556.00 331.13,556.00
                      324.03,564.25 305.24,587.77 298.00,593.00
                      298.00,593.00 276.00,573.73 276.00,573.73
                      273.85,571.89 268.31,567.77 268.03,564.96
                      267.73,561.95 272.50,557.25 274.42,555.00
                      274.42,555.00 295.87,530.00 295.87,530.00
                      295.87,530.00 350.73,466.00 350.73,466.00
                      350.73,466.00 381.00,431.00 381.00,431.00
                      374.82,426.36 356.98,404.30 350.73,397.00
                      350.73,397.00 295.00,332.00 295.00,332.00
                      295.00,332.00 274.42,308.00 274.42,308.00
                      272.50,305.75 267.73,301.05 268.03,298.04
                      268.31,295.23 273.85,291.11 276.00,289.27
                      276.00,289.27 298.00,270.00 298.00,270.00 Z" fill="#000"/>
          </svg>
        </div>
        <p class="project-moreinfo" (click)="navigateProject()"><a>Learn More!</a></p>
    </div>
  </div>
</div>