.toolbar{
    position: sticky;
    top: 0;
    // width: 100%;
    z-index:1;
    // left: 0;
    // right: 0;
    // height: 60px;
    // height: 70px;
    height: 7vh;
    /* max-height: 60px;
    min-height: 60px;
    height: 5%; */
    display: flex;
    align-items: center;
    // background-color: #1d1d1f;
    background: linear-gradient(to right, #1d1d1f, #1d1d1f 50%, #34447C 100%);
    color: white;
    font-weight: 600;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
}

.name_tag{
    font-size: 2rem;
    color: white;
    position: relative;
    left: 2rem;
}

.name_tag a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0, 8px;
}

.toolbar #github-logo {
    height: 50px;
    margin: 0, 8px;
    margin-top: 25px;
    margin-right: -20px;
}

.toolbar #linkedin-logo {
    height: 70px;
    margin: 0, 16px;
    margin-top: 38px;
}

.starting_message{
    font-size: 48px;
    color: blue;
    font-family: 'monospace' 'Courier New', Courier, monospace;
    position: absolute;
    left: 40%;
    top: 10%;
    border-style: solid;
    border-width: 3px;
}

.spacer{
    flex: 1;
}