

/* desktop */


.project-header {
    background-color: #F4F4F4;
    display: grid;
    position: relative;
    // margin-bottom: 150px;
    width: 100%;
    height: 100%;
}

.hover-title {
    background-color: rgb(81, 143, 254, 0.75);
    position: absolute;
    top: 300px;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
    font-family: 'Silkscreen', cursive;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    font-size: 5.6vw;
    color: hsla(0,0%,95%,.01);
    -webkit-text-stroke: 2px #000;
    letter-spacing: .02em;
    line-height: .9em;
}

.go-back {
    background-color: #518FFE;
    border: black solid 2px;
    border-radius: 42px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: absolute;
    justify-self: center;
    text-align: center;
    top: 100px;
    left: 20%;
    width: 60%;
    height: 50px;
}

.go-back svg {
    width: 50px;
    height: 50px;
    align-self: center;
}

.go-back p {
    color: white;
    margin: 0px;
    line-height: 40px;
}

.project {
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 15% 70% 10%;
    column-gap: 2.5%;
    padding-top: 150px;
    width: 100%;
}

.table-contents, .main-content, .right-space {
    position: relative;
}

.table-contents a {
    cursor: pointer;
}

.contents p, .contents li {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(104, 102, 102);
    letter-spacing: .05rem;
}

.main-content {
    width: 100%;
    background-color: #fafafa;
    padding: 50px 5%;
    margin-bottom: 200px;
}

.main-content p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.main-content pre {
    // margin-bottom: 100px;
    max-height: 450px; 
    width: 100%; 
    overflow: auto;
}

.main-content img {
    display: block; 
    margin: auto;
    object-fit: cover;
    width: 100%;
}

.caption {
    font-size: 1rem;
}

.right-space {

}

.contents {
    position: absolute;
    left: 30%;
    top: 200px;
}

.toFooter {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #F4F4F4, #F4F4F4 50%, #34447C 100%);
}

/* later test if these media queries work well on mobile devices */

/* for mobile */ 
@media screen and (max-width: 767px) {
    /* 
    basic media query for respective device. In to this media query, css code
    can cover the both landscape and portrait view
    */
    .project {
        grid-template-columns: 1fr;
        // grid-template-rows: auto;
        max-width: 767px;
    }

    .main-content {
        max-width: 767px;
        padding: 0 10px;
    }

    .main-content p {
        font-size: 1rem;
    }

    .main-content img {
        max-width: 100%;
        visibility: hidden;
    }

    .main-content pre {
        max-width: 100%;
        visibility: hidden;
    }

    .contents {
        visibility: hidden;
    }

    .right-space {
        visibility: hidden;
    }
}
@media screen and (min-width:320px) and (orientation: landscape) {
    /*
    This orientation media query. In to this query you can specify more about css code
    for landscape view
    */
}

/* for tablet */
@media screen and (max-width: 1024px) {
    /* 
    basic media query for respective device. In to this media query, css code
    can cover the both landscape and portrait view
    */
}
@media screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) {
    /*
    This orientation media query. In to this query you can specify more about css code
    for landscape view
    */
}