.main {
    padding: 50px 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    justify-items: center;
    width: 100%;
    min-height: 30vh;
    background-color: #1d1d1f;
}

.description, .content, .connections {
    background-color: #177ea3;;
    border-radius: 43px;
    padding: 20px 15px;
    width: 80%;
    height: 100%;
}

.description h1, .content h1, .connections h1{
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: .05rem;
}

.description p {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(240, 240, 240);
    letter-spacing: .05rem;
}

.connections p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(240, 240, 240);
    letter-spacing: .05rem;
}

.connection-links {
    color:rgb(240, 240, 240);
}

/* later test if these media queries work well on mobile devices */

/* for mobile */ 
@media screen and (max-width: 767px) {
    /* 
    basic media query for respective device. In to this media query, css code
    can cover the both landscape and portrait view
    */

    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        row-gap: 10px;
    }
}
@media screen and (min-width:320px) and (orientation: landscape) {
    /*
    This orientation media query. In to this query you can specify more about css code
    for landscape view
    */
}

/* for tablet */
@media screen and (min-width: 768px) and (max-width:1024px) {
    /* 
    basic media query for respective device. In to this media query, css code
    can cover the both landscape and portrait view
    */
}
@media screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) {
    /*
    This orientation media query. In to this query you can specify more about css code
    for landscape view
    */
}