<div class="main">
    <div class="description">
        <h1>Jorge Chavez</h1>
        <p>Thank you for checking out my website! Make sure to connect with me to stay updated on
            my future projects.
        </p>
    </div>
    <!-- <div class="content">
        <h1>Explore</h1>
        <p>hi</p>
    </div> -->
    <div class="connections">
        <h1>Follow</h1>
        <p><a class="connection-links" aria-label="Personal Github" target="_blank" rel="noopener" href="https://github.com/jorgejc2" title="Github">Github</a></p>
        <p><a class="connection-links" aria-label="Personal LinkedIn" target="_blank" rel="noopener" href="https://linkedin.com/in/jorge-chavez-626587213" title="LinkedIn">LinkedIn</a></p>
    </div>
</div>

